<main class="main">
    <h2 class="titulo">Carrito de Compras</h2>
    <div class="cart" id="cart" data-cartId={{cart._id}}>
        {{#if cart.products.length}}
        <ul class="cart-container" >
            {{#each cart.products}}
            {{#if this.product._id}}
            <li class="cartItem">
                <div class="cartItemImg">
                    <img style="width: 75%;" src="{{this.product.thumbnails}}" alt="{{this.product.thumbnails}}">
                </div>
                <div class="cartItemDescription">
                    <h3>{{this.product.title}}</h3>
                    <p>{{this.product.description}}</p>
                </div>
                <div class="cartItemPrice">
                    <p>Precio: ${{formatCurrency this.product.price}}</p>
                    <p>Cantidad: {{this.quantity}}</p>
                    <p>Subtotal: ${{formatCurrency (subTotalPrice this.quantity this.product.price)}}</p>
                </div>
                <div class="cartIcons">
                    <a class="material-symbols-outlined" data-itemDelete={{this.product._id}}>delete</a>
                </div>
            </li>
            {{/if}}
            {{/each}}
        </ul>
        <div class="cartBtn" id="cartAction">
            <p id="totalAmount">Total: ${{formatCurrency (totalPrice cart.products)}}</p>
            <a class="btn-delete" href="#" data-delete={{cart._id}}>Vaciar Carrito</a>
            <a class="btn-accept" data-buy={{cart._id}}>COMPRAR</a>
        </div>
        {{else}}
        <div class="cartEmpty">
            <p>NO HAY PRODUCTOS</p>
            <a href="/products">Agregar Productos</a>
        </div>
        {{/if}}
    </div class="cart">
    <div id="modalTicket"></div>
</main>

<script type="module" src="/js/cart.helper.js"></script>