<main class="main">
  <h2 class="titulo">Productos Disponibles</h2>

  <ul id="card-products" class="card-container container">
    {{#each products}}
    <li class="card">
      <h3>{{this.title}}</h3>
      <p>{{this.description}}</p>
      <p>Precio: ${{formatCurrency this.price}}</p>
      {{!-- <img src={{this.thumbnails}} alt="{{this.thumbnails}}"> --}}
      <p>Stock: {{this.stock}}</p>
      <div class="btn-container">
        <a class="btn-accept" data-id="btn-buy" href="/products/{{this._id}}">COMPRAR</a>
      </div>
    </li>
    {{/each}}
  </ul>
  <ul class="numberPage">
    {{{generatePageLink pages queryParameters baseURL}}}
  </ul>
</main>